services:
  postgres:
    image: postgres:15
    container_name: postgres-db-news-app
    ports: 
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U news_admin -d news_app_prod"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - .env.prod
    volumes:
      - ./init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
  
  news_app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5002:5002"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env.prod
